# Egobot tmp files / personnal startup script
sto_*
egobot.db
start.sh
test.lua
unique
tmp*

# Emacs temporary files
*~

# Luvit/Lit stuff
deps/
lit
luvit
luvi
gateway.json

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

